<p id="notice"></p>

<h2>
  <%= @style.name %>
</h2>

<br>
<p>
  <%= @style.description %>
</p>

<strong> Beers </strong>
<p>
 <% @style.beers.each do |beer| %>
   <%= link_to beer.name, beer %>
 <% end %>
</p>

<%= edit_and_destroy_buttons(@style) %>
